.card__link {
    text-decoration: none;
    color: black;
}

.card__image {
    width: 100%;
}

.card__body {
    text-align: center;
}

.card__title {
    display: block;
}

.card__category {
    display: block;
}