<footer class="footer">
    <div class="footer__shape">
        <svg data-rellax-speed="2" width="641" height="371" viewBox="0 0 641 371" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate3d(0px, 20px, 0px);">
            <circle cx="320.5" cy="320.5" r="320.5" fill=" #202020"></circle>
        </svg>
    </div>
    <div class="footer__content">
        <ul class="footer__list">
            <li class="list__item">
                <a href="#" class="list__link">a@a.com</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">+1 234 567</a>
            </li>
        </ul>
    </div>
</footer>
