.content__container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.content__nav {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
}

.content__nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.content__link {
    text-decoration: none;
}

.content__name {
    padding: 5px 15px;
    color: black;
}