.content__container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.content__nav {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
}

.content__nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    left: 10px;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.content__link {
    text-decoration: none;
}

.content__name {
    padding: 5px 15px;
    color: black;
}

.content__name::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -2px;
    left: -2px;
    border-bottom: 1px solid black;
    will-change: transform;
    // transition: inherit .25 ease-in-out;
    transform: scaleX(0);
    transform-origin: center left;
}

@media screen and (min-width: 1024px) {
    .content__container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}