<div class="content__container">
    <ul class="content__nav">
        <li class="content__item">
            <a href="#" class="content__link">
                <span class="content__name">
                    Item 1
                </span>
            </a>
        </li>
        <li (click)="active($event)" [ngClass]="classes()">
            <a href="#" class="content__link">
                <span class="content__name">
                    Item 2
                </span>
            </a>
        </li>
        <li (click)="active($event)" [ngClass]="classes()">
            <a href="#" class="content__link">
                <span class="content__name">
                    Item 3
                </span>
            </a>
        </li>
        <li class="content__item">
            <a href="#" class="content__link">
                <span class="content__name">
                    Item 4
                </span>
            </a>
        </li>
        <li class="content__item">
            <a href="#" class="content__link">
                <span class="content__name">
                    Item 5
                </span>
            </a>
        </li>
    </ul>
</div>
