.nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__logo {
    display: inline-block;
    text-transform: uppercase;
}

.nav__list {
    list-style: none;
    display: flex;
    margin-left: auto;
    // justify-content: flex-end;
}

.nav__item {
    position: relative;
    display: inline-block;
    margin: 0 0.3rem;
}

#btn-menu {
    display: none;
}

.toggle {
    display: none;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.toggle>span {
    width: 24px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: black;
}

.nav-social {
    margin-left: 1rem;
}

@media screen and (max-width: 827px) {

    .toggle {
        display: flex;
    }

    .nav__list {
        display: none;
        flex-direction: column;
    }

    #btn-menu:checked ~ .nav__list {
        display: flex;
        position: absolute;
        top: 4rem;
        right: 1rem;
        padding: 1rem;
        background-color: white;
    }

    .nav__list>.nav__item {
        margin: 1rem;
    }

}

@media screen and (max-width:1024px) {

    .nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

