/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    // font-weight: 600;
}

@media screen and (max-width: 827px) {
    .padding-default {
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media screen and (max-width: 1024px) {
    .padding-default {
        padding-left: 80px;
        padding-right: 80px;
    }

}
